<html>
  <head>
    <title>Landing | BYXPointService</title>
  </head>
  <body>
    <div style="text-align:center;">
      <h1>BYX Member Portal</h1>
      <p>(visible to EVERYONE without logging in)</p>
      <% if current_member %>
      <h2><%= current_member.email %></h2>
        <!-- <%= image_tag(current_member.avatar_url) %> -->
        <!-- <%= link_to "Edit Account", edit_member_registration_path %> -->
        <%= button_to "Logout", destroy_member_session_path, data: {turbo: "false"}, method: :delete %>
      <% else %>
        <%= link_to "Login", new_member_session_path %>
      <% end %>
    </div>
  </body>
</html>