<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Calendar | BYXPointService</title>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body id="page-top">

    <!-- Login Redirect (if not logged in, controller should take care of this but just in case) -->
    <% if !current_user%>
        <%= controller.redirect_to new_user_session_path %>
    <% end %>

    <!-- Page Wrapper -->
    <div id="wrapper">

    <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <div><td><%= link_to 'Beta Upsilon Chi', root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" %></td></div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link">
                    <span><td><%= link_to 'Dashboard', root_path, class: "nav-link collapsed" %></td></span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Members -->
            <li class="nav-item">
                <a class="nav-link">
                    <span><td><%= link_to 'Members', members_path, class: "nav-link collapsed" %></td></span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Calendar -->
            <li class="nav-item active">
                <a class="nav-link" >
                    <span><td><%= link_to 'Calendar', events_path, class: "nav-link collapsed" %></td></span>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Alumni -->
            <li class="nav-item">
                <a class="nav-link" >
                    <span><td><%= link_to 'Alumni', alumnus_path, class: "nav-link collapsed" %></td></span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - Admin Portal -->
            <% if current_user %>
                <% if is_admin(current_user.email) %>  <!-- only show admin link if current user is admin -->
                    <li class="nav-item">
                        <a class="nav-link" >
                            <span><td><%= link_to 'Admin', admin_index_path, class: "nav-link collapsed" %></td></span></a>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">
                <% end %>
            <% end %>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Full Name -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle">
                                <% if current_user %>
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><h3><%= current_user.full_name%></h3></span>
                                <% end %>
                            </a>
                        </li>

                        <!-- Nav Item - Logout -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle">
                                <% if current_user %>
                                    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
                                <% end %>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h1 mb-0 text-gray-800">Calendar</h1>
                    </div>

                </div>
                <!-- End of Page Content -->
                <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Show</th>
                        <th>Edit</th>
                        <th>Destroy</th>
                        <th colspan="7"></th>
                    </tr>
                </thead>
                <tbody>
                <% @events.each do |event| %>
                    <tr>
                    <td><%= event.title %></td>
                    <td><%= event.datetime %></td>
                    <td><%= event.description %></td>
                    <td><%= link_to 'Show', event %></td>
                    <td><%= link_to 'Edit', edit_event_path(event) %></td>
                    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
            <%= link_to 'New Event', new_event_path %>
            <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Show</th>
                    <th>Edit</th>
                    <th>Destroy</th>
                    <th colspan="6"></th>
                </tr>
            </thead>
            <tbody>
            <% @meetings.each do |meeting| %>
                <tr>
                <td><%= meeting.datetime %></td>
                <td><%= link_to 'Show', meeting %></td>
                <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <%= link_to 'New Meeting', new_meeting_path %>
            </div>
            
           <div class="container mt-5 text-center">
           <p> Upcoming Events <p>
                <%= month_calendar(attribute: :datetime, events: @events) do |date, events| %>
                    <div class="day">
                        <%= date.day %>
                    </div>
                    <% events.each do |event| %>
                        <div class="card-header">
                            <div class="card-title">
                                <%= link_to event.title, event %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
           </div>

           <div class="container mt-5 text-center">
           <p> Upcoming Meetings <p>
                <%= month_calendar(attribute: :datetime, events: @meetings) do |date, meetings| %>
                    <div class="day">
                        <%= date.day %>
                    </div>
                    <% meetings.each do |meeting| %>
                        <div class="card-header">
                            <div class="card-title">
                                <%= link_to meeting.datetime, meeting %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
           </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Brothers Under Christ | <%= link_to "Support", support_index_path %></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</body>
</html>