<p id="notice"><%= notice %></p>

<p>
  <strong>Member id:</strong>
  <%= @member.id %>
</p>

<p>
  <strong>Member name:</strong>
  <%= @member.full_name %>
</p>

<p>
  <strong>Meeting id:</strong>
  <%= @meeting.id %>
</p>

<p>
  <strong>Meeting date:</strong>
  <%= @meeting.datetime %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', '/events' %>
